{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Itinerary</title>
    <link rel="stylesheet" href="{% static 'display1.css' %}">
    <style>
        body {
          background-image: url("{% static 'images/fourth.jpg' %}");
        }
    </style>

</head>
<body>
    <div class="page-wrapper">
        <h1 class="main-heading">🛫 ITINERARY FROM  <span>{{ source }}</span> to <span>{{ destination }}</span></h1>
        <div class="container">
        <div class="info-travel-wrapper">
            <div class="info-container">
                <p><strong>📅 Start Date:</strong> {{ start_date }}</p>
                <p><strong>📅 End Date:</strong> {{ end_date }}</p>
                <p><strong>💰 Budget:</strong> ₹{{ budget }}</p>
                <a href="{% url 'places' %}?destination={{ destination }}&start_date={{ start_date }}&end_date={{ end_date }}">🌍 Places to Explore</a>
            </div>
            <div class="weather-container">
                <h2>🌤️ WEATHER FORECAST</h2>
                {% if weather_data %}
                <ul>
                    {% for day in weather_data %}
                    <li>
                        <strong>{{ day.datetime }}</strong><br>
                        Max: {{ day.tempmax }}°C | Min: {{ day.tempmin }}°C<br>
                        {{ day.description }}
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                <p>No weather data available.</p>
                {% endif %}
            </div>
        </div>
            <div class="travel-container">
                <h2>📍 TRAVEL PLAN</h2>
                <p>{{ itinerary|linebreaksbr }}</p>
            </div>
        


    </div>
</body>
</html>
